:root {
  --dark-brown: #914F1E;
  --med-brown: #DEAC80;
  --light-brown: #F7DCB9;
  --green: #B5C18E;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light-brown);
  font-family: sans-serif;
}

.App {
  text-align: center;
  min-height: 100%;
}

a {
  color: inherit;          
  text-decoration: none;   
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin: 8vmin;
  padding: 8vmin;    
}

.subheader {
  margin: 1vmin;
}

.title {
  width: 90vmin;
  margin: 20vmin -10vmin; 
  margin-top: 10vmin; 
}

.snoopy {
  width: 15vmin;
  padding: 4vmin;
  position: absolute;
  left: calc(50% + 10vmin);
}

.open-spotify-button {
  width: 60vmin;
  display: block;
  text-align: center;
  background-color: var(--dark-brown);
  margin: 2vmin;
  margin-bottom: 0vmin;
  margin-top: 6vmin;
  padding: 4vmin; 
  font-weight: bold;
  font-size: 6vmin;
  color: var(--light-brown);  
  border-radius: 4vmin;
  border: none;
}

.open-spotify-button:hover {
  background-color: var(--med-brown);
  color: var(--dark-brown);
}

.cards-container {
  margin: 2vmin;
  margin-top: 0vmin;
  padding: 2vmin;
  padding-top: 0vmin;
}

.footer-message {
  font-size: 4vmin;
  display: flex;
  flex-direction: row;
  justify-content: center; /* vertical alignment */
  align-items: center;     
  margin: 4vmin 0vmin;
  margin-top: 0vmin;
  padding: 4vmin;
  padding-top: 0vmin;
  position: relative;
}

.footer-message > p{   
  margin-left: -8vmin;
  opacity: 70%;
}