:root {
  --dark-brown: #914F1E;
  --med-brown: #DEAC80;
  --light-brown: #F7DCB9;
  --green: #B5C18E;
}

.App {
  text-align: center;
}

.header {
  margin: 1vw;
}

.subheader {
  margin: 1vw;
}

.snoopy {
  width: 20vw;
}

.open-spotify-button {
  width: 5vw;
}

.cards-container {
  margin: 0vw;
}

.footer-message {
  font-size: 1vw;
}