.card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--med-brown);
    margin: 4vmin auto;
    padding: 1vmin;
    border: none;
    border-radius: 4vmin;
    max-width: 90vmin;
    width: 100%;
    color: #212121;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vmin;
    padding: 1vmin;
    padding-left: 2vmin;
}

.song-container {
    display: flex;
    flex-direction: column;
    margin: 1vmin;
    padding: 4vmin;
    align-items: flex-start;
    max-width: 35%;
    font-family: Helvetica, sans-serif;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.album-cover {
    width: 30vmin;
    margin-bottom: 2vmin;
}

.song-name {
    font-size: 4vmin;
    margin: 0vmin;
    font-weight: bold;
    opacity: 70%;
    margin-top: -1vmin;
    margin-bottom: 1vmin;
}

.artist-name {
    font-size: 4vmin;
    margin: 0vmin;
    opacity: 70%;
}

.emoji {
    width: 15vmin;
    height: 15vmin;
    margin: 2vmin;
}

.date {
    font-size: 5vmin;
    opacity: 60%;
}

.description {
    font-size: 8vmin;
    margin: 2vmin;
    opacity: 70%;
}

.note {
    font-size: 4vmin;
    margin: 0vmin;
    opacity: 80%;
    margin-bottom: 4vmin;
}

